body{
    background-image: url(img/wallpaperbetter.jpg);
    background-size: contain;
}
h1{
    color: yellow;
    font-size: 40px;
    font-style: italic;
    
}
a{
    color: yellowgreen;
    font-size: large;

}
ol{
    color: white;
    font-size: 20px;
}